<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <style>
        body{
            background-color: #f4f4f4;
        }
        form{
            margin-top: 10px;
            margin-left:41%;
        }
    </style>
</head>
<body>
    <h1>  BookNest</h1>
    <form class="d-flex">
        <input class=" col-xs-4" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
    @RenderBody()
</body>
</html>
